SnakeGame/SnakeGame/Service References/SnakeServiceReference/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SnakeServer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SnakeServer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Snake">
    <xs:sequence>
      <xs:element minOccurs="0" name="error" type="tns:Error" />
      <xs:element minOccurs="0" name="setting" nillable="true" type="tns:Setting" />
      <xs:element minOccurs="0" name="snake" nillable="true" type="tns:ArrayOfCircle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Snake" nillable="true" type="tns:Snake" />
  <xs:simpleType name="Error">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ClashWithThBody" />
      <xs:enumeration value="No" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Error" nillable="true" type="tns:Error" />
  <xs:complexType name="Setting">
    <xs:sequence>
      <xs:element minOccurs="0" name="direction" type="tns:Direction" />
      <xs:element minOccurs="0" name="height" type="xs:int" />
      <xs:element minOccurs="0" name="powe_ups" type="xs:int" />
      <xs:element minOccurs="0" name="width" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Setting" nillable="true" type="tns:Setting" />
  <xs:simpleType name="Direction">
    <xs:restriction base="xs:string">
      <xs:enumeration value="UP" />
      <xs:enumeration value="DOWN" />
      <xs:enumeration value="LEFT" />
      <xs:enumeration value="RIGHT" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Direction" nillable="true" type="tns:Direction" />
  <xs:complexType name="ArrayOfCircle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Circle" nillable="true" type="tns:Circle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCircle" nillable="true" type="tns:ArrayOfCircle" />
  <xs:complexType name="Circle">
    <xs:sequence>
      <xs:element minOccurs="0" name="x" type="xs:int" />
      <xs:element minOccurs="0" name="y" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Circle" nillable="true" type="tns:Circle" />
  <xs:complexType name="Field">
    <xs:sequence>
      <xs:element minOccurs="0" name="bonus" nillable="true" type="tns:Circle" />
      <xs:element minOccurs="0" name="height" type="xs:int" />
      <xs:element minOccurs="0" name="widht" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Field" nillable="true" type="tns:Field" />
</xs:schema>